<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
angular.module('app',[])


</script>
<body>
	<h1>{{::titulo}}</h1>
	<input type="text" name="teste" ng-model="titulo">
</body>
</html>