<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
	angular.module('app',[])
	angular.module('app').controller('MeuController',['$scope','$http','$location', 
		function($scope, $http, $location){
			$scope.valor = null;

			$scope.inc = function(){
				$scope.valor++;
			}
		}
	]);
</script>
<body ng-controller='MeuController'>
	<h1>{{valor}}</h1>
	<input type="text" name="teste" ng-model="valor">
	<button ng-click="inc()"> Increment</button>
</body>
</html>