<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
	angular.module('app',[])
	angular.module('app').controller('MeuController',[
		function(){
			const self = this;
			self.valor = null;

			self.inc = function(){
				self.valor++;
			}
		}
	]);
</script>
<body ng-controller='MeuController as ctrl'>
	<h1>{{ctrl.valor}}</h1>
	<input type="text" name="teste" ng-model="valor">
	<button ng-click="ctrl.inc()"> Increment </button>
</body>
</html>