<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
	angular.module('app',[])
	angular.module('app').filter('upper', function(){
		return  function( input ){
			if(input){
				return input.toUpperCase();
			}
		}
	})
	angular.module('app').controller('MeuController',[
		function(){
			const self = this;

			self.valor = null;
		}
	]);



</script>
<body ng-controller='MeuController as ctrl'>
	<h1>{{ctrl.valor | upper}}</h1>
	<input type="text"  ng-model="ctrl.valor">
</body>
</html>