<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
angular.module('app',[])
angular.module('app').service('utils', function(){
	this.upper = function ( input){
			return input.toUpperCase();
	};

})


angular.module('app').controller('MeuController',[
	'utils', function( utils ){
		const self = this;
		self.value = utils.upper('texto');

	}
]);
</script>
<body ng-controller="MeuController as ctrl">
	<h1> {{ ctrl.value }} </h1>
	<!-- <input type="text" name="teste" ng-model="titulo"> -->
</body>
</html>