<!DOCTYPE html>
<html ng-app='app'>
<head>
	<meta charset="utf-8">
	<title>Fundamentos Angualr Js</title>
</head>

<script type="text/javascript" src="node_modules/angular/angular.min.js"></script>

<script type="text/javascript">
	
angular.module('app',[])
angular.module('app').component('field', {
	bindings:{ // parametros de entrada
		id: '@', //@ passa sempre valor simples exemplo texto
		label: '@',
		/*model: '<' binding uma direçao expressao que deve ser interpretada pelo angular*/
		/*model:'='   binding bidimensional  de duas direções sempre que passado atualiza o escopo do controller tambem */
		model:'='
	},
	template:` 
		<label for="{{$ctrl.id}}"> {{$ctrl.label}} </label>
		<input id="{{$ctrl.id}}" ng-model='$ctrl.model'>
	`
});
	
	angular.module('app').controller('MeuController', function(){
		const self = this;

		self.name ='Teste Nome';
	});
</script>
<body ng-controller="MeuController as ctrl">
	<h1> {{ctrl.name}}</h1>
	<field id="nome" label="nome" model="ctrl.name"></field>

</body>
</html>