<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Valor</th>
					<th>Açao</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="credit in vm.ciclo.credits">
					<h1>{{credit}} </h1>
					<td>
						<input type="" 
							ng-model="credit.name" 
							class="form-control" 
							placeholder="Informe nome do Crédito" 
							ng-redonly="vm.tabDelete">
					</td>
					<td>
						<input type="" 
							ng-model="credit.value" 
							class="form-control" 
							placeholder="Informe o Valor" 
							ng-redonly="vm.tabDelete" type="number"
							ng-change="vm.calculateValues()">
					</td>
					<td class="actions">
						<button class="btn btn-success" ng-disabled="m.tabDelete" ng-click="vm.addCredito($index)">
							<i class="fa fa-plus"></i>
						</button>
						<button class="btn btn-warning" ng-disabled="vm.tabDelete" ng-click="vm.cloneCredito($index,credit)">
							<i class="fa fa-clone"></i>
						</button>
						<button class="btn btn-danger" ng-disabled="vm.tabDelete" ng-click="vm.creditoDelete($index)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
</div>