<div class="row">
	<div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th>Nome</th>
					<th>Valor</th>
					<th>Status</th>
					<th>Açao</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="debt in vm.ciclo.debts">
					<td>
						<input  
							ng-model="debt.name" 
							class="form-control" 
							placeholder=" nome do Debitos" 
							ng-redonly="vm.tabDelete">
					</td>
					<td>
						<input type="number" 
							ng-model="debt.value" 
							class="form-control" 
							placeholder="Valor" 
							ng-redonly="vm.tabDelete" type="number"
							ng-change="vm.calculateValues()">
					</td>
					<td>
						<input 
							ng-model="debt.status" 
							class="form-control" 
							placeholder="Status" 
							ng-redonly="vm.tabDelete">
					</td>
					<td class="actions">
						<button class="btn btn-success" ng-disabled="vm.tabDelete" ng-click="vm.addDebito( $index)" >
							<i class="fa fa-plus"></i>
						</button>
						<button class="btn btn-warning" ng-disabled="vm.tabDelete" ng-click="vm.cloneDebito($index, debt)">
							<i class="fa fa-clone"></i>
						</button>
						<button class="btn btn-danger" ng-disabled="vm.tabDelete" ng-click="vm.debitoDelete($index)">
							<i class="fa fa-trash-o"></i>
						</button>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
</div>