<div role="form">
	<div class="box-body"> 
	<field  
		id="name" 
		label="Nome" 
		grid="12 6 4" 
		placeholder="Informe Nome" 
		type="text"
		model="vm.ciclo.name"
		redonly="vm.tabDelete">

	</field>
	
	<field 
	 	id="month" 
	 	label="Mês" 
	 	grid="12 6 4" 
	 	placeholder="Informe o Mês" 
	 	type="number" 
	 	model="vm.ciclo.month"
	 	redonly="vm.tabDelete">
 	</field>

	<field 
		id="year" 
		label="Ano" 
		grid="12 6 4" 
		placeholder="Informe o Ano"
		type="number"
		model="vm.ciclo.year"
		redonly="vm.tabDelete">
	</field>
		
	
	<div class="row">
		<div class="col-xs-12">
			<fieldset>
				<legend> Resumo </legend>
					<div ng-include="'Ciclo/sumary.html'"></div>		
			</fieldset>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<fieldset>
				<legend> Créditos</legend>
			</fieldset>
				<div ng-include="'Ciclo/creditList.html'"></div>
		</div>
		
		<div class="col-xs-12 col-sm-6">
			<fieldset>
				<legend> Debitos</legend>
			</fieldset>
				<div ng-include="'Ciclo/debtsList.html'"></div>
		</div>
	</div>
	<div class="row">
		<div class="box-footer">
			<button ng-if="vm.tabCreate" class="btn btn-primary" ng-click="vm.create()">Incluir</button>
			<button ng-if="vm.tabUpdate" ng-click="vm.Edit()" ng-if="vm.tabList"class="btn btn-info">Alterar</button>
			<button ng-if="vm.tabDelete" ng-click="vm.Delete()" class="btn btn-danger">Excluir</button>
			<button class="btn btn-default" ng-click="vm.refresh()">Cancelar</button>
		</div>
	</div>
</div>
