<div class="box-body">
	<table class="table">
		<thead>
			<tr>
				<th>Nome</th>
				<th>Mês</th>
				<th>Ano</th>
				<th>Ações</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="dados in vm.ciclos">
				<td>{{dados.name}}</td>
				<td>{{dados.month}}</td>
				<td>{{dados.year}}</td>
				<td class="actions">
					<button class="btn btn-warning" ng-click="vm.showTabUpdate(dados)">
						<i class="fa fa-pencil"></i>
					</button>
					<button class="btn btn-danger" ng-click="vm.showTabDelete(dados)">
						<i class="fa fa-trash-o "></i>
					</button>
				</td>
			</tr>
		</tbody>
	</table>
	<div class="box-footer clearfix" >
		<paginate url="#!/ciclo" pages="{{vm.pages}}"> </paginate>
	</div>
	

</div>