<content-header name="Ciclo de Pagamento" small="versao 1.0"></content-header>

<section class="content">
	
	<div class="nav-tabs-custom" ng-controller="CicloCtrl as vm">
		<ul class="nav nav-tabs">
			<li ng-if="vm.tabList" ng-class="{active: ::vm.tabList}">
				<a href="" data-target="#tabList" data-toggle="tab" >
					<i class="fa fa-bars"></i>Lista
				</a>
			</li>

			<li ng-if="vm.tabCreate">
				<a href="" data-target="#tabCreate" data-toggle="tab" >
					<i class="fa fa-bars"></i>Incluir
				</a>
			</li>
			
			<li ng-if="vm.tabUpdate" ng-class="{active: ::vm.tabUpdate}">
				<a href="" data-target="#tabUpdate" data-toggle="tab" >
					<i class="fa fa-bars"></i> Atualizar
				</a>
			</li>

			<li ng-if="vm.tabDelete" ng-class="{active: ::vm.tabDelete}">
				<a href="" data-target="#tabDelete" data-toggle="tab" >
					<i class="fa fa-trash-o"></i> Delete
				</a>
			</li>
		</ul>
		<div class="tab-content">
			<div ng-if="vm.tabList" ng-class="{active: vm.tabList}" class="tab-pane" id="tabList" ng-include="'Ciclo/list.html'"></div>
			<div ng-if="vm.tabCreate" class="tab-pane" id="tabCreate" ng-include="'Ciclo/form.html'"></div>
			<div ng-if="vm.tabUpdate" ng-class="{active: vm.tabUpdate}" class="tab-pane" id="tabUpdate" ng-include="'Ciclo/form.html'"></div>
			<div ng-if="vm.tabDelete" ng-class="{ active: vm.tabDelete }" class="tab-pane" id="tabDelete" ng-include="'Ciclo/form.html'"></div>

		</div>
	</div>
</section>