<div class="row">
	<div class="col-xs-12">
		<value-box grid="12 4"  color-class="bg-green" valor="R$ {{ vm.soma | number:2}}" titulo="Total de Créditos" icon-class="fa fa-bank"></value-box>
		<value-box grid="12 4"  color-class="bg-red" valor="R${{ vm.diminue | number:2 }}" titulo="Total de Debitos" icon-class="fa fa-credit-card"></value-box>
		<value-box grid="12 4"  color-class="bg-blue" valor="R${{ vm.result | number:2}}" titulo="Total Consolidado" icon-class="fa fa-money"></value-box>
	</div>
</div>