<content-header name="Dashboard" small="Versao 1.0"></content-header>	

<section class="content" ng-controller="DashboardCtrl as vm">
	
	<value-box grid="4"  color-class="bg-green" valor="{{ vm.credits | number:2}}" titulo="Total de Créditos" icon-class="fa fa-bank"></value-box>
	<value-box grid="4"  color-class="bg-red" valor="{{ vm.debts | number:2 }}" titulo="Total de Debitos" icon-class="fa fa-credit-card"></value-box>
	<value-box grid="4"  color-class="bg-blue" valor="{{ vm.total | number:2}}" titulo="Total Consolidado" icon-class="fa fa-money"></value-box>
</section>