<a href="/#" class="logo">
	<span class="logo-lg"> <i class="fa fa-leaf"></i><b>Primeira</b>APP</span>
</a>

<nav class="navbar navbar-static-top">
	<a href="" class="sidebar-toggle" data-toggle="offcanvas"> </a>
</nav>